:root {
  font-family: "Open Sans", sans-serif;
  line-height: auto;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1B1B1B;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #1B1B1B;
}

h3 {
  font-size: 28px;
  font-weight: bold;
  color: #1B1B1B;
}

.headline {
  font-size: 16px;
  font-weight: bold;
  color: #E1624F;
}

p {
  font-size: 16px;
  font-style: normal;
  color: #333333;
}

#subtitle {
  font-size: 16px;
  font-style: italic;
}

.destaque {
  font-weight: bold;
}

.azul {
  font-weight: bold;
  color: #0C51A7;
}

.roxo {
  font-weight: bold;
  color: #591B98;
}

.rosa {
  font-weight: bold;
  color: #E5245E;
}

.laranja {
  font-weight: bold;
  color: #E95E10;
}

body {
background-size: cover;
background-color: #29292E; /* Fundo escuro */
}

#page {
width: 1120px;
margin: 80px auto;
background-color: #F9F8F4; /* Fundo claro da caixa */
padding: 112px 80px;
}

#Divisor {
  border: none; 
  border-top: 1px solid #e0e0e0; 
  margin: 20px 0;
  width: 1120px;
}