:root {
  font-family: "Open Sans", sans-serif;
}


body {
background-size: cover;
background-color: #29292E; /* Fundo escuro */
}

#page {
width: 1120px;
margin: 80px auto;
background-color: #F9F8F4; /* Fundo claro da caixa */
padding: 112px 80px;
}

#Divisor {
  border: none; 
  border-top: 1px solid #e0e0e0; 
  margin: 20px 0;
  width: 1120px;
}